.bg{
    background-image: url("../../assets/image/bg-intro.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
}


.section_1{
    background-color: #47A7FF;
}

.section_2{
    background-color: #ffffff;
}
.section_3{
    background-image: url("https://i.imgur.com/rtinyDZ.png");
    background-repeat: no-repeat;
    background-size:100% 100%;

}
.section_4{
background-color: #0F62F9;
color: #ffffff;

}

.section_4 {
    background-color: #0F62F9;
    color: #ffffff;
}