.customers-container {
    margin: 8% 0;
    color: black;
  }
  .customers-carousel-container {
    margin: 3%;
  }
  .customers-container-heading {
    color: #fefefe;
    margin: 2% auto;
    text-align: center;
    font-weight: 700;
  }
  .customers-carousel-img {
    height: 150px;
    width: 150px;
    margin: 0 auto 3%;
    border-radius: 50%;
  }
  .carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    margin: auto;
    color: #fefefe;
    text-align: center;
    width: 50%;
  }
  .customers-carousel-caption p {
    color: rgb(209, 202, 202);
  }
  
  @media screen and (max-width: 550px) {
    .customers-carousel-img {
      height: 100px;
      width: 100px;
    }
    .customers-carousel-caption p {
      font-size: 14px;
    }
  }
  
  /* 
  .carousel-indicators [data-bs-target] {
    display: none;
  } */