.link a{
    color: white;
    text-decoration: none;
    padding: 5px ;
    border-radius: 25px;
    width: 100%;
}

.link a:hover{
    background-color: white;
    color: #0F62F9;
    padding: 5px ;
    border-radius: 25px;
    width: 100%;


}
.link a.active{
    background-color: white;
    color: #0F62F9;
}